{% load i18n %}{% autoescape off %}

{% blocktrans %}Hi {{ client }}.{% endblocktrans %}
{% blocktrans %}
    Your complaint has been dealt successfully

        Complaint details:
             - Item Name: {{item}}
             - Description:{{description}}
             - Seller Name:{{seller}}
             - Refunded amount:{{price}}
             - Rent Date:{{start_date}} - {{rent_date}}

{% endblocktrans %}
If you have questions, please contact us.
{% blocktrans %}The {{ site_name }} team.{% endblocktrans %}

{% endautoescape %}