{% load i18n %}{% autoescape off %}

{% blocktrans %}Hi {{ seller }}.{% endblocktrans %}
{% blocktrans %}
    We have got a complaint to your account

        Complaint details:
             - Item Name: {{item}}
             - Item Description:{{description}}
             - Complainer Name:{{client}}
             - Quoted Price:{{price}}
             - Rent Date:{{start_date}} - {{rent_date}}

{% endblocktrans %}
To prevent this please make sure to deliver the product properly.
{% blocktrans %}The {{ site_name }} team.{% endblocktrans %}

{% endautoescape %}