<p>Hi {{ client }},</p></br>
<p>Your rent request has expired because of unresponsiveness of the owner.</p>
<dl>
    <dt>Details of your request:</dt>
        <dd> - Item Name: {{item}} </dd>
        <dd> - Item Description:{{description}} </dd>
        <dd> - Owner:{{seller}} </dd>
        <dd> - Price:{{price}} </dd>
        <dd> - Requested dates:{{start_date}} - {{rent_date}} </dd>
</dl>
<p>We are sorry for the inconvenience. Please contact the owner or search for a similar product <a href="{{ 'http' }}://{{ absolute_url }}/search_results">here</a>.</p>
<p>The {{ site_name }} Team.</p>
