<p>Hi {{ seller }}.</p>
    <p>The rental fee of {{fee}} for {{item}} is credited to your account. Here is the a summary of the transaction.</p>

        <dl>
            <dt>Complaint details:</dt>
                <dd> - Item Name: {{item}} </dd>
                <dd> - Rented by:{{client}} </dd>
                <dd> - Dates of Rental:{{start_date}} - {{rent_date}} </dd>
                <dd> - Price:{{price}} </dd>
                <dd> - Total amount received:{{total}} </dd>
        </dl>

<p>The {{ site_name }} team.</p>
