<p>Hi {{ seller }}.</p>
    <p>The rental fee of {{fee}} for {{item}} has been credited to your account.</p><br>
    <p>Below is the a summary of the transaction:</p><br>
        <dl>
                <dd> - Item name: {{item}} </dd>
                <dd> - Rented by:{{client}} </dd>
                <dd> - Dates of rental:{{start_date}} - {{rent_date}} </dd>
                <dd> - Price:{{price}} </dd>
                <dd> - Total amount received:{{total}} </dd>
        </dl>
<p>We hope you enjoyed the experience!</p><br>
<p>Click here to review your experience, or contact us for help.</p><br>
<p>The {{ site_name }} team.</p>


