{% load i18n %}{% autoescape off %}

{% blocktrans %}Hi {{ seller }}.{% endblocktrans %}
{% blocktrans %}
    The rental fee of {{fee}} for {{item}} is credited to your account. Here is the a summary of the transaction:


        Complaint details:
            - Item Name: {{item}}
            - Rented by:{{client}}
            - Dates of Rental:{{start_date}} - {{rent_date}}
            - Price:{{price}}
            - Total amount received:{{total}}

{% endblocktrans %}
{% blocktrans %}The {{ site_name }} team.{% endblocktrans %}

{% endautoescape %}