{% load staticfiles %}
<ul class="tabsStyle1 wow fadeInDown" data-wow-delay=".8s">
    <li><a href="/payment/billing"><i class="icon-wallet"></i> <span>Billing</span></a></li>
    <li><a href="/listings"><i class="icon-reorder-square-line"></i> <span>My Listings</span></a></li>
    <li><a href="/profile/in_transactions"><i class="icon-list"></i> <span>Transactions</span></a></li>
    <li><a href="/edit_profile"><i class="icon-edit"></i> <span>Edit Profile</span></a></li>
    <li><a href="/payment/connect"><i class="icon-braintree"></i> <span>Connect to Braintree</span></a></li>
    <li><a href="#" class="change_account_status_item" {% if request.user.is_active == 1 %} data-account-status="0"><span>Deactivate {% else %}data-account-status="1"><span>Activate {% endif %} </span></a></li>
</ul>