{% load staticfiles %}
<ul class="tabsStyle1">
    <li><a href="{% url 'accounts:edit_profile' %}"><i class="icon-edit"></i> <span>Edit Profile</span></a></li>
    <li><a href="{% url 'accounts:billing' %}"><i class="icon-wallet"></i> <span>Billing</span></a></li>
    <li><a href="{% url 'accounts:listings' %}"><i class="icon-reorder-square-line"></i> <span>My Listings</span></a></li>
    <li><a href="{% url 'profile:in_transactions' %}" id="in_trans"><i class="icon-list"></i> <span>Transactions</span></a></li>
    <li><a href="{% url 'payment:connect' %}"><i class="icon-braintree"></i> <span>Receiving Payment</span></a></li>
    <li><a class="change_account_status_item" {% if request.user.profile_status == '1' %} data-account-status="0"><span>Deactivate {% else %}data-account-status="1"><span>Activate {% endif %} </span></a></li>
</ul>
