{% load staticfiles %}
{% load billing_form %}
<div id="add_billing_popup" class="popupWrap mfp-hide">
    <div class="popupHead">
        <div class="subTitleWrap">
            <h2>Add a Billing Method</h2>
        </div>
    </div>
    <div class="popupBody">
        <div class="addPayMethod tabsWrap">
            <div class="colRow">
                <div class="col12">
                    <form method="post" action="{% url 'profile:rent_payment' %}">
                        {% csrf_token %}
                        {% billing_form  as billing %}
                        <div id="add-credit-card">
                            <div class="formRow">
                                {{ billing.first_name.label_tag}}
                                {{ billing.first_name }}
                                {{ billing.first_name.errors }}
                            </div>
                            <div class="formRow">
                                {{ billing.card_number.label_tag}}
                                {{ billing.card_number }}
                                {{ billing.card_number.errors }}
                            </div>
                            <div class="colRow">
                                <div class="col5">
                                    <div class="formRow">
                                        {{ billing.month.label_tag}}
                                        {{ billing.month }}
                                        {{ billing.month.errors }}
                                    </div>
                                </div>
                                <div class="col4">
                                    <div class="formRow">
                                        {{ billing.year.label_tag}}
                                        {{ billing.year }}
                                        {{ billing.year.errors }}
                                    </div>
                                </div>
                                <div class="col3">
                                    <div class="formRow">
                                        {{ billing.cvv.label_tag}}
                                        {{ billing.cvv }}
                                        {{ billing.cvv.errors }}
                                    </div>
                                </div>
                                <input type="hidden" value="" name="item_id" id="meth_item_id">
                            </div>
                            <p class="additionalTxt">Your account security is our first priority. We will never charge your account without your consent.</p>
                            <button class="btn btn btnBorder">ADD PAYMENT METHOD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>