{% load staticfiles %}
<footer>
<div class="container">
<div class="colRow">
<div class="col5 colTab12">
<h3>About <br>Us</h3>
<p>Maecenas in ligula pellentesque, finibus arcu nec, auctor mi. In quis luctus sapien, et efficitur quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer tellus felis, blandit nec gravida ac, hendrerit quis ligula. Vestibulum egestas porta imperdiet. Sed eleifend at arcu eget ornare.</p>
</div>
<div class="col2 offset1 colTab12 offsetTab0">
<h3>Quick <br>Links</h3>
<nav>
<ul>
<li><a href="#" class="txtBtn">Properties</a></li>
<li><a href="#" class="txtBtn">About Us</a></li>
<li><a href="#" class="txtBtn">Contact Us</a></li>
<li><a href="#" class="txtBtn">Terms & Conditions</a></li>
</ul>
</nav>
</div>
<div class="col3 offset1 colTab12 offsetTab0">
<h3>Contact <br>Us</h3>
<p>
Holiday Homes<br>
8699 Santa Monica Blvd<br>
Los Angeles, CA 90069-4109<br>
Phone: 1800-123-456<br>
Fax: 1800-123-456<br>
Email: <a href="mailto:info@holidayhomes.com"  class="txtBtn">info@holidayhomes.com</a><br>
</p>
</div>
</div>
<div class="socialWrap">
<ul>
<li><a href="#"><i class="icon-facebook44"></i></a></li>
<li><a href="#"><i class="icon-twitter37"></i></a></li>
<li><a href="#"><i class="icon-linkedin21"></i></a></li>
<li><a href="#"><i class="icon-youtube30"></i></a></li>
</ul>
</div>
</div>
<div class="footerBottom">
<a href="#">Terms & conditions</a>
</div>
</footer>
</div>
</main>
<button class="scrollToTop"><i class="icon-arrow-up"></i></button>
</div>