{% load staticfiles %}
<div id="perspective" class="perspective effect-movedown">
{% include "elements/main_menu.html" %}
<main class="drawerCont">
		<div class="wrapper">
			<main class="mainWrap">
                <header class="sticky">
					<div class="container">
						<a href="/" class="headerLogo pullLeft">
							<img src="/media/images/header-logo.png">
						</a>
						<div class="pullRight">
							<nav class="headerNav linkHover">
								<ul>
									{% if user.is_authenticated %}
									<li><a href="/search_results/?name=">Search For Items</a></li>
									<li><a href="/listings/">List Your Items</a></li>
									<li><a href="/profile/conversation/">Messages</a></li>
									<li><a href="/payment/billing/">Account</a></li>
									<li><a href="#">Support</a></li>
									<li><a href="/logout/">Log Out</a></li>
									{% endif %}
									{% if user.is_anonymous %}
									<li><a href="/registration/">Sign up</a></li>
									<li><a href="/login/">Login</a></li>
									<li><a href="/search_results/?name=">Search For Items</a></li>
									<li><a href="#login_popup" id="add_listing_popup" class="popupBtn">List Your Items</a></li>
									<li><a href="#">Support</a></li>
									{% endif %}
								</ul>
							</nav>
						</div>
					</div>
					<button id="showMenu" class="hamburgerBtn"><i class="icon-bars"></i></button>
				</header>

				<div id="login_popup" class="mfp-hide popupWrap">
						<form method="post" action="login/?next=/listings/">
							  {% csrf_token %}
							  <div>
                				<label for="id_username">Email:</label>
                				<input class="formControl" id="id_username" maxlength="255" name="username" type="text" />
							  </div>
							  <div>
							    <label for="id_password">Password:</label>
								<input class="formControl" id="id_password" name="password" type="password" />
							  </div><input type="submit" value="send">
						</form>
					</div>