{% load staticfiles %}
<div id="perspective" class="perspective effect-movedown">
{% include "elements/main_menu.html" %}
<main class="drawerCont">
		<div class="wrapper">
			<main class="mainWrap">
				<section class="homeTop parallax-window" data-parallax="scroll" data-image-src="media/images/home-banner.jpg" >
					<header class="sticky">
						<div class="container">
							<a href="/" class="headerLogo pullLeft">
								<img src="/media/images/header-logo.png">
							</a>
							<div class="pullRight">
								<nav class="headerNav linkHover">
									<ul>
										<li><a href="/">Home</a></li>
										{% if user.is_authenticated %}
										<li><a href="/profile/requests/">Requests</a></li>
										{% endif %}
										{% if user.is_anonymous %}
										<li><a href="/registration/">Sign up</a></li>
										<li><a href="/login/">Login</a></li>
										{% else %}
										<li><a href="/logout/">Logout</a></li>
										{% endif %}
										{% if user.is_anonymous %}
										<li><a href="#login_popup" id="add_listing_popup" class="popupBtn">List Your Item</a></li>
										{% else %}
										<li><a href="/profile/add_listing">List Your Item</a></li>
										{% endif %}
										<li><a href="#">Support</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<button id="showMenu" class="hamburgerBtn"><i class="icon-bars"></i></button>
					</header>

					<div id="login_popup" class="mfp-hide popupWrap">
						<form method="post" action="login/?next=/profile/add_listing/">
							  {% csrf_token %}
							  <div>
                				<label for="id_username">Email:</label>
                				<input class="formControl" id="id_username" maxlength="255" name="username" type="text" />
							  </div>
							  <div>
							    <label for="id_password">Password:</label>
								<input class="formControl" id="id_password" name="password" type="password" />
							  </div><input type="submit" value="send">
						</form>
					</div>
					<div class="container">
						<div class="homeTopCont">
							<div class="container">
								<div class="homeTopTxt">
									<h1 class="wow fadeInDown">WELCOME TO YOUR <span>NEIGHBOR</span>HOOD</h1>
									<h4 class="wow fadeInDown" data-wow-delay=".3s">Borrow, rent and buy from your neighbours</h4>
								</div>
								<div class="alignC howWrkBtn">
									<a href="#howItWorks" class="btn btnBorder white scrollToHref">How it works</a><br>
									<i class="icon-arrow-down-a"></i>
								</div>
							</div>
						</div>
					</div>
				</section>