{% load staticfiles %}
<div id="perspective" class="perspective effect-movedown">
{% include "elements/main_menu.html" %}
<main class="drawerCont">
		<div class="wrapper">
			<main class="mainWrap">
				<section class="homeTop parallax-window" data-parallax="scroll" data-image-src="media/images/home-banner.jpg" >
					<header class="sticky">
						<div class="container">
							<a href="/" class="headerLogo pullLeft">
								<img src="/media/images/header-logo.png">
							</a>
							<div class="pullRight">
								<nav class="headerNav linkHover">
									<ul>
										{% if user.is_authenticated %}
										<li><a href="/search_results/?name=">Search For Items</a></li>
										<li><a href="/listings/">List Your Items</a></li>
										<li><a href="/profile/conversation/">Messages</a></li>
										<li><a href="/payment/billing/">Account</a></li>
										<li><a href="#">Support</a></li>
										<li><a href="/logout/">Log Out</a></li>
										{% endif %}
										{% if user.is_anonymous %}
										<li><a href="/registration/">Sign up</a></li>
										<li><a href="#login_popup" class="popupBtn">Login</a></li>
										<li><a href="/search_results/?name=">Search For Items</a></li>
										<li><a href="#login_popup" id="add_listing_popup" class="popupBtn">List Your Items</a></li>
										<li><a href="#">Support</a></li>
										{% endif %}
									</ul>
								</nav>
							</div>
						</div>
						<button id="showMenu" class="hamburgerBtn"><i class="icon-bars"></i></button>
					</header>

					<div id="login_popup" class="mfp-hide popupWrap loginPopup">
						<div class="popupHead">
							<h3>Log in to NEMO</h3>
						</div>
						<div class="popupBody">
							<form method="post" action="login/?next=/listings/">
								  {% csrf_token %}
								  <div class="formRow">
									<label for="id_username" class="formLabel">Email:</label>
									<input class="formControl" id="id_username" maxlength="255" name="username" type="text" />
								  </div>
								  <div class="formRow">
									<label for="id_password" class="formLabel">Password:</label>
									<input class="formControl" id="id_password" name="password" type="password" />
								  </div>
								<div class="alignC mb30">
									<a href="#">Forgot password?</a>
								</div>
								<input type="submit" value="Log in" class="btn btnPrime btnBlock">
								<div class="clearAfter mt5">
									<span class="pullLeft">Dont have an account?</span>
									<a href="/registration/" class="pullRight">Sign Up</a>
								</div>
							</form>
						</div>
						<div class="orSeparator"></div>
						<div class="popupBody">
							<button class="btn btnBlock btnFacebook"><img src="/media/images/icons/facebook-icons.png" alt=""> Log in with Facebook</button>
							<button class="btn btnBlock btnGoogle"><img src="/media/images/icons/new-google-favicon-logo.png" alt=""> Log in with Google +</button>
						</div>
					</div>
					<div class="container">
						<div class="homeTopCont">
							<div class="container">
								<div class="homeTopTxt">
									<h1 class="wow fadeInDown">WELCOME TO YOUR <span>NEIGHBOR</span>HOOD</h1>
									<h4 class="wow fadeInDown" data-wow-delay=".3s">Borrow, rent and buy from your neighbours</h4>
								</div>
								<div class="alignC howWrkBtn">
									<a href="#howItWorks" class="btn btnBorder white scrollToHref">How it works</a><br>
									<i class="icon-arrow-down-a"></i>
								</div>
							</div>
						</div>
					</div>
				</section>