{% load staticfiles %}
<div id="perspective" class="perspective effect-movedown">
<main class="drawerCont">
		<div class="wrapper">
			<main class="mainWrap">
				<section class="homeTop parallax-window" data-parallax="scroll" data-image-src="/media/images/home-banner.jpg" >
					<header class="sticky">
						<div class="container">
							<a href="/" class="headerLogo pullLeft">
								<img src="/media/images/header-logo.png">
							</a>
							<div class="pullRight">
								{% include "elements/main_menu.html" %}
							</div>
						</div>
						<button id="showMenu" class="hamburgerBtn"><i class="icon-bars"></i></button>
					</header>
					{% include "elements/login_form.html" %}
					<div class="container">
						<div class="homeTopCont">
							<div class="container">
								<div class="homeTopTxt">
									<h1 class="wow fadeInDown">WELCOME TO YOUR <span>NEIGHBOR</span>HOOD</h1>
									<h4 class="wow fadeInDown" data-wow-delay=".3s">Borrow, rent and buy from your neighbours</h4>
								</div>
								<div class="alignC howWrkBtn">
									<a href="#howItWorks" class="btn btnBorder white scrollToHref">How it works</a><br>
									<i class="icon-arrow-down-a"></i>
								</div>
							</div>
						</div>
					</div>
				</section>