{% load staticfiles %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/icheck.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/footable.js' %}"></script>
<script src="{% static 'js/owl.carousel.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/headhesive.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.js' %}"></script>
<script src="{% static 'js/modernizr.custom.25376.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.jgrowl.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{% static 'js/fileuploader.js' %}"></script>
<script src="{% static 'js/inits.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<!--<script src="{% static 'js/classie.js' %}"></script>-->
<!--<script src="{% static 'js/menu.js' %}"></script>-->




