{% load staticfiles %}
<div id="login_popup" class="mfp-hide popupWrap loginPopup">
    <div class="popupHead">
        <h3>Log in to NEMO</h3>
    </div>
    <div class="popupBody">
        <form method="post" action="/login/?next=/" id="login_form">
            {% csrf_token %}
            <div class="formRow">
                <label for="id_username" class="formLabel">Email:</label>
                <input class="formControl" id="id_username" maxlength="255" name="username" type="text" />
            </div>
            <div class="formRow" id="login_password">
                <label for="id_password" class="formLabel">Password:</label>
                <input class="formControl" id="id_password" name="password" type="password" />
            </div>
            <div class="alignC mb30">
                <a href="#forgot_popup" class="txtBtn popupBtn forgot_tub">Forgot password?</a>
            </div>
            <input type="submit" value="Log in" class="btn btnPrime btnBlock" id="log_in">
            <div class="clearAfter mt5 alignC">
                <span>Dont have an account?</span>
                <a href="#reg_popup" class="txtBtn popupBtn">Sign Up</a>
            </div>
        </form>
    </div>
    <div class="orSeparator"></div>
    <div class="popupBody">
        <a class="btn btnBlock btnFacebook" href="{% url 'social:begin' 'facebook' %}" ><img src="/media/images/icons/facebook-icons.png" alt=""> Log in with Facebook</a>
        <a class="btn btnBlock btnGoogle" href="{% url 'social:begin' 'google-oauth2' %}"><img src="/media/images/icons/new-google-favicon-logo.png" alt=""> Log in with Google +</a>
    </div>
</div>