{% load staticfiles %}
<nav class="outer-nav top horizontal">
    {% if user.is_authenticated %}
    <a href="/search_results/?name=">Search For Items</a>
    <a href="/listings/">List Your Items</a>
    <a href="/profile/conversation/">Messages</a>
    <a href="/payment/billing/">Account</a>
    <a href="#">Support</a>
    <a href="/logout/">Log Out</a>
    {% endif %}
    {% if user.is_anonymous %}
    <a href="/registration/">Sign up</a>
    <a href="/login/">Login</a>
    <a href="/search_results/?name=">Search For Items</a>
    <a href="#login_popup" id="add_listing_popup" class="popupBtn">List Your Items</a>
    <a href="#">Support</a>
    {% endif %}
</nav>