{% load staticfiles %}
{% load unread_messages %}
<nav class="headerNav linkHover" id="topMenu">
    <div class="verticalMiddle">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:search_results' %}">Search For Items</a></li>
            <li><a href="{% url 'accounts:listings' %}">List Your Items</a></li>
            <li><a href="{% url 'profile:no_conversation' %}">Messages{% autoescape off %}{{ request.user.id|unread_messages }}{% endautoescape %}</a></li>
            <li><a href="{% url 'accounts:edit_profile' %}" class="account">Account</a></li>
            <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
            {% else %}
            <li class="bordered"><a href="#login_popup" class="popupBtn add_listing_popup">List Your Items</a></li>
            <li><a href="#reg_popup" class="popupBtn registr_tab">Sign up</a></li>
            <li><a href="#login_popup" class="popupBtn login_tab">Login</a></li>
            {% endif %}
            <li><a href="{% url 'profile:support' %}">Support</a></li>
        </ul>
    </div>
</nav>