<script type="text/javascript">
$(document).ready(function() {
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                var success = "{{ message }}";
                $.jGrowl(success, {theme: 'right',sticky: true});
            {% endif %}
            {% if message.tags == 'error' %}
                var success = "{{ message }}";
                $.jGrowl(error, {theme: 'right',sticky: true});
            {% endif %}
        {% endfor %}
    {% endif %}
});
</script>
