{% load staticfiles %}
<div class="accountL">
    <div class="accountImg wow fadeInDown" data-wow-duration=".6s">
        <div class="wrapAbs imgCover">
            <img src="/media/{% if request.user.photo %}{{ request.user.photo }}{% else %}images/users/default_user_photo.jpg{% endif %}">
        </div>
        <img src="/media/images/sizers/square-sizer.png">
    </div>
    <div class="accountDetail">
        <h5 class="accountName wow fadeInDown" data-wow-delay=".2s">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
        <ul class="list hasIcon mb20 wow fadeInDown" data-wow-delay=".4s">
            <li><i class="icon-email"></i>{{ request.user.email }}</li>
            <li><i class="icon-phone"></i>{{ request.user.phone_number }}</li>
            <li><i class="icon-location-1"></i>{{ request.user.zip_code }}</li>
        </ul>
    </div>
</div>
<div class="clear"></div>


