{% load staticfiles %}
{% load registration_form %}
<div id="reg_popup" class="mfp-hide popupWrap loginPopup">
    <div class="popupHead">
        <h3>Sign up with Email</h3>
    </div>
    <div class="popupBody">
        <form method="post" action="{% url 'accounts:register' %}" id="registration">
            {% csrf_token %}
            {% registration_form  as registration %}
            <div class="colRow">
                <div class="formRow col6">
                    {{ registration.first_name.label_tag}}
                    {{ registration.first_name }}
                    {{ registration.first_name.errors }}
                </div>
                <div class="formRow col6">
                    {{ registration.last_name.label_tag}}
                    {{ registration.last_name }}
                    {{ registration.last_name.errors }}
                </div>
            </div>
            <div class="formRow">
                {{ registration.email.label_tag}}
                {{ registration.email }}
                {{ registration.email.errors }}
            </div>
            <div class="formRow">
                {{ registration.password.label_tag}}
                {{ registration.password }}
                {{ registration.password.errors }}
            </div>
            <div class="formRow">
                {{ registration.zip_code.label_tag}}
                {{ registration.zip_code }}
                {{ registration.zip_code.errors }}
            </div>
            <div class="formRow birthDate">
                {{ registration.birthdate.label_tag}}
                {{ registration.birthdate }}
                {{ registration.birthdate.errors }}
            </div>
            <input type="submit" value="Sign up" class="btn btnPrime btnBlock">
            <p class="mt15">By signing up, I agree to Nemo Central’s <a href="#" class="txtBtn">Terms and conditions</a></p>
        </form>
    </div>
    <div class="orSeparator"></div>
    <div class="popupBody">
        <a class="btn btnBlock btnFacebook" href="{% url 'social:begin' 'facebook' %}" ><img src="/media/images/icons/facebook-icons.png" alt=""> Sign up with Facebook</a>
        <a class="btn btnBlock btnGoogle" href="{% url 'social:begin' 'google-oauth2' %}"><img src="/media/images/icons/new-google-favicon-logo.png" alt=""> Sign up with Google +</a>
        <p class="mt15">By signing up, I agree to Nemo Central’s <a href="#" class="txtBtn">Terms and conditions</a></p>
    </div>
</div>
