{% load staticfiles %}
{% load forgot_form %}
<div id="forgot_popup" class="mfp-hide popupWrap loginPopup">

    <div class="popupHead">
        <h3>Reset Password</h3>
        <p class="text">Forgot your password? No problem! Just enter your email address associated with your account and we will send you a link to reset your password.</p>
    </div>
    <div class="popupBody">
        <form method="post" action="{% url 'accounts:reset' %}" id="forgot_form">
            {% csrf_token %}
            {% forgot_form as forgot %}
            <div class="formRow">
                {{ forgot.email.label_tag}}
                {{ forgot.email }}
                {{ forgot.email.errors }}
            </div>
            <input type="submit" value="Send Email" class="btn btnPrime btnBlock" id="sendEmail">
            <div class="clearAfter mt20 alignC">
                <span>Dont have an account?</span>
                <a href="#reg_popup" class="txtBtn popupBtn">Sign Up</a>
            </div>
        </form>
    </div>
    <!--<p class="text successMessage">The email has been sent! Please check your inbox for link to reset password.</p>-->
</div>
