{% extends "base.html" %}
{% block content %}
	
	<!-- Start Support Block -->

	<section class="supportBlock">
		<div class="container">
			<div class="fixBlock">
				<h3 class="blockTitle">Got Questions?</h3>
				<p class="text">We are here to help! Simply send us a message below and we'll contact you within 24 hrs. Don't forget to <a href="#login_popup" class="popupBtn">login</a> first!</p>
				
				<form method="" action="">
			            <div class="formRow alignL">
			                <label for="reg_username" class="formLabel">From:</label>
			                <input class="formControl" id="reg_username" maxlength="255" name="username" type="text" />
			            </div>
			            <div class="formRow alignL">
			                <label for="reg_username" class="formLabel">Email:</label>
			                <input class="formControl" id="reg_username" maxlength="255" name="username" type="text" />
			            </div>
			            <div class="formRow alignL">
			                <textarea class="formControl" name="" id="" placeholder="Type your message here"></textarea>
			            </div>
						<button type="submit" class="btn btnPrime">Send</button>
				</form>
			</div>
		</div>
	</section>

	<!-- End Support Block -->

</div>

{% endblock %}