<p>Hi {{ first_name }},</p>
<p>Thanks for registering for your NEMO account! Your registration has been successful. Here is the summary of your account:</p>
<p>Full Name: {{first_name }} {{ last_name }}</p>
<p>Email Address: {{ email }}</p>
<p>Zip Code: {{ zip_code }}</p>
<p>If you ever forget your password, please reset it <a href="{{ 'http' }}://{{ absolute_url }}/login_req/">here</a>. If you need help, please <a href="{{ 'http' }}://{{ absolute_url }}/profile/support">contact us</a>.</p>
<p>The {{ site_name }} Team.</p>

