{% extends "base.html" %}
{% block content %}

<div class="topLighLine"></div>
    <div class="container accountWrapper pb80">
        {% include "elements/profile.html" %}
        <div class="accountR">
            {% include "elements/account_menu.html" %}
            <div class="wow fadeInDown" data-wow-delay="1s">
                <div id="billing">
                    <section class="mb70">
                        <div class="subTitleWrap">
                            <h2>Add a Billing Method</h2>
                        </div>
                        <div class="addPayMethod tabsWrap">
                            <div class="colRow">
                                <div class="col4">
                                    <ul class="tabs">
                                        <li>
                                            <a href="#add-credit-card" class="payMethod active">
                                                <img src="/media/images/icons/credit-card.png">
                                                <span>Add Credit Card</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#add-paypal-account" class="payMethod">
                                                <img src="/media/images/icons/paypal.png">
                                                <span>Add Paypal Account</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col8">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div id="add-credit-card">
                                            <div class="formRow">
                                                {{ form.first_name.label_tag}}
                                                {{ form.first_name }}
                                                {{ form.first_name.errors }}
                                            </div>
                                            <div class="formRow">
                                                {{ form.card_number.label_tag}}
                                                {{ form.card_number }}
                                                {{ form.card_number.errors }}
                                            </div>
                                            <div class="colRow">
                                                <div class="col5">
                                                    <div class="formRow">
                                                        {{ form.month.label_tag}}
                                                        {{ form.month }}
                                                        {{ form.month.errors }}
                                                    </div>
                                                </div>
                                                <div class="col5">
                                                    <div class="formRow">
                                                        {{ form.year.label_tag}}
                                                        {{ form.year }}
                                                        {{ form.year.errors }}
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="formRow">
                                                        {{ form.cvv.label_tag}}
                                                        {{ form.cvv }}
                                                        {{ form.cvv.errors }}
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="additionalTxt">Your account security is our first priority. We will never charge your account without your consent.</p>
                                            <button class="btn btn btnBorder">ADD PAYMENT METHOD</button>
                                        </div>
                                    </form>
                                    <div id="add-paypal-account">
                                        <div class="formRow">
                                            <label class="formLabel">Paypal account</label>
                                            <input class="formControl" type="text">
                                        </div>
                                        <p class="additionalTxt">Your account security is our first priority. We will never charge your account without your consent.</p>
                                        <button class="btn btn btnBorder">ADD PAYMENT METHOD</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="subTitleWrap">
                            <h2>Saved Billing Methods</h2>
                        </div>
                        {% if methods %}
                        <div class="addedPayments">
                            <ul>
                                {% for method in methods %}
                                <li>
                                    <img class="paymIcon" src="/media/images/icons/visa-card.png">
                                    <span class="paymAccount">{{ method.customer_number }}</span>
                                    <div class="paymActions">
                                        <button>Make Default</button>
                                        <button class="danger"><i class="icon-trash"></i></button>
                                        <button id="{{ method.id }}" class="change_method_status" {% if listing.is_default == "0" %} data-status-type="notDefault">Make Default{% elif method.is_default == '1'%}data-status-type="isDefault">Default Method{% endif %}</button>
                                        <button class="danger delete_method" id="{{ method.id }}"><i class="icon-trash"></i></button>
                                    </div>
                                </li>
                                <!--<li>-->
                                    <!--<img class="paymIcon" src="/media/images/icons/paypal-card.png">-->
                                    <!--<span class="paymAccount">mail@company.com</span>-->
                                    <!--<div class="paymActions">-->
                                        <!--<button>Default Method</button>-->
                                        <!--<button class="danger"><i class="icon-trash"></i></button>-->
                                    <!--</div>-->
                                <!--</li>-->
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $('.tabsWrap').tabs({
        disabled: [1],
    })
</script>

{% endblock %}