{% extends "base.html" %}
{% block content %}

<!-- POPUPS -->
	<div id="change-address" class="mfp-hide popupWrap">
		<div class="popupHead">
			<h3>Change Address</h3>
		</div>
		<div class="popupBody">
			<div class="formRow">
				<input type="text" class="formControl" placeholder="Street">
			</div>
			<div class="formRow">
				<input type="text" class="formControl" placeholder="City">
			</div>
			<div class="formRow">
				<select class="formControl">
					<option>State</option>
					<option>State</option>
					<option>State</option>
				</select>
			</div>
			<div class="formRow">
				<input type="text" class="formControl" placeholder="Postal Code">
			</div>
			<button class="btn btnPrime">Change</button>
		</div>
	</div>

<section class="homeSrch">
					<div class="container">
						<form method="GET" action="/search_results/">
							<div class="srchAddress">
								<p><i class="icon-location"></i> Address: <a href="#change-address" class="popupBtn">Default</a></p>
							</div>
							<div class="colRow">
								<div class="col7 colTab12 colMob12">
									<div class="formRow">
										<input type="text" name="name" placeholder="Enter item name to search (e.g. drill, tent, etc...)" class="formControl" value="{{request.GET.name}}">
									</div>
								</div>
								<div class="col3 colTab10 colMob12">
									<div class="formRow">
										<select class="formControl">
											<option>Rent</option>
											<option>Buy</option>
											<option>Share</option>
										</select>
									</div>
								</div>
								<div class="col2 colMob12">
									<button type="submit" class="btn btnPrime btnIcon btnBlock">
										<i class="icon-search"></i>
									</button>
								</div>
							</div>
							<div class="listInline">
								{% if cats %}
									{% for cat in cats %}
										<label class="checkAndRadio" for="option_{{cat.id}}">
											<input type="checkbox" class="chboxRadio" name="category" id="option_{{cat.id}}" value={{cat.id}} />
											{{cat.name}}
										</label>
									{% endfor %}
								{% endif %}
							</div>
						</form>
					</div>
				</section>
				<section class="homeMapSect">
					<div class="container">
						<div class="colRow">
							<div class="col9" style="height: 636px;">
								<div class="homeMap">
									<div id="map_canvas" class="gMap"></div>
								</div>
							</div>
							{% if items and count > 0 %}
								{% for item in items %}
									<div class="col3 item_details" data-id="{{ item.id }}" data-lat="{{ item.latitude }}" data-lng="{{ item.longitude }}">
										<div class="listingSingle">
											<figure style="background-image: url('/media/images/items/{{ item.image_name }}');" class="fluidImage">
												<img class="item_image" src="/media/images/items/{{ item.image_name }}">
												<img class="imgBlock" src="/media/images/sizers/landscape-sizer.png" alt="">
												<figcaption>Rent</figcaption>
											</figure>
											<div class="listingDets">
												<div class="listDetsTop">
													<div class="listDetsTopL">
														<span class="listingName item_name">{{ item.name }}</span>
														<div class="ownerWrap"><span class="listingBy">by {{ item.first_name|first }}.{{ item.last_name|first }}.</span><span class="stars"><img src="media/images/rating-badges.png" alt=""></span></div>
													</div>
													<div class="listDetsTopR">
														<div class="listPriceSect">
															<span class="listPrice item_price">${{ item.price }}</span>
															<span class="listDuration">per day</span>
														</div>
														<em class="listingDist item_distance">{{ item.distance|floatformat:2 }}<br>miles</em>
													</div>
												</div>
												<a href="/payment/rent/{{ item.id }}" class="btn btnBorder btnBlock">Details</a>
											</div>
										</div>
									</div>
								{% endfor %}
							{% else %}
								<p>No results found.</p>
							{% endif %}
							<script>
								var latitude = '{{ latitude }}';
								var longitude = '{{ longitude }}'
								getLocation();
								initMap(latitude,longitude) ;
							</script>
						</div>
					</div>
				</section>
				<section class="hasPadTB darkenBg">
					<div class="container">
						<div class="sectTitle">
							<h3>Recently Added</h3>
						</div>
						<div class="owlSlider">
							{% if recent_items %}
								{% for recent_item in recent_items %}
									<div class="item">
										<div class="listingSingle">
											<a href="/payment/rent/{{ recent_item.id }}">
												<figure style="background-image: url('/media/images/items/{{ recent_item.image_name }}');" class="fluidImage">
													<img class="imgBlock" src="/media/images/sizers/landscape-sizer.png">
													<figcaption>Rent</figcaption>
												</figure>
												<div class="listingDets">
													<div class="listDetsTop">
														<div class="listDetsTopL">
															<span class="listingName">{{ recent_item.name }}</span>
															<div class="ownerWrap"><span class="listingBy">by {{ recent_item.first_name|first }}.{{ recent_item.last_name|first }}.</span><span class="stars"><img src="media/images/rating-badges.png" alt=""></span></div>
														</div>
														<div class="listDetsTopR">
															<div class="listPriceSect">
																<span class="listPrice">${{ recent_item.price }}</span>
																<span class="listDuration">per day</span>
															</div>
														</div>
													</div>
												</div>
											</a>
										</div>
									</div>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</section>
				</section>
				<section class="hasPadTB sectionTestim" parallax-window" data-parallax="scroll" data-image-src="/media/images/testim-bg.jpg">
					<div class="container">
						<div class="testimWrap">
							<h2>Check out what your neighbors say!</h2>
							<div class="owlSingle">
								<div class="item">
									<div class="singleTestim">
										<img src="/media/images/thumbs/user-img-1.jpg">
										<h4>Melanie Sampini</h4>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
									</div>
								</div>
								<div class="item">
									<div class="singleTestim">
										<h4>Gabriel Harvey</h4>
										<p>Odio, tenetur minus eligendi officia commodi voluptatibus non distinctio dignissimos, fugit quo culpa modi rem, quos totam nam at. Explicabo, praesentium, deserunt. Odio, tenetur minus eligendi officia commodi voluptatibus non distinctio dignissimos, fugit quo culpa modi rem, quos totam nam at. Explicabo, praesentium, deserunt.</p>
										<img src="/media/images/thumbs/user-img-2.jpg">
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="hasPadTB" id="howItWorks">
					<div class="container">
						<div class="sectTitle">
							<h3>HOW DOES IT WORK</h3>
						</div>
						<div class="colRow">
							<div class="col6 colTab12">
								<div class="howWorkSingle">
									<div class="howWorkIcon">
										<img src="/media/images/icons/add-list.png">
									</div>
									<div class="howWorkTxt">
										<strong>List Your Items</strong>
										<p>List your items that you want to share with, rent to or sell to your neighbors.</p>
									</div>
								</div>
								<div class="howWorkSingle">
									<div class="howWorkIcon">
										<img src="/media/images/icons/respond-request.png">
									</div>
									<div class="howWorkTxt">
										<strong>Respond to requests</strong>
										<p>Approve the request, talk to your neighbors, and arrange to pass the item in person.</p>
									</div>
								</div>
							</div>
							<div class="howWorkOr"><span>OR</span></div>
							<div class="col6 colTab12">
								<div class="howWorkSingle">
									<div class="howWorkIcon">
										<img src="/media/images/icons/search-item.png">
									</div>
									<div class="howWorkTxt">
										<strong>Search for what you need</strong>
										<p>Search what you need via the search bar and check the items posted by your neighbors on the map.</p>
									</div>
								</div>
								<div class="howWorkSingle">
									<div class="howWorkIcon">
										<img src="/media/images/icons/request-item.png">
									</div>
									<div class="howWorkTxt">
										<strong>Request items</strong>
										<p>Request an item to borrow, rent or buy from your neighbors.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
{% endblock %}