{% extends "base.html" %}
{% block content %}
<br><br>
{% include 'elements/account_menu.html' %}
    <br><br>
    <img class="item_image" src="/media/{% if request.user.photo %}{{ request.user.photo }}{% else %}images/users/default_user_photo.jpg{% endif %}"/>
    <p>Name: {{ request.user.first_name }} {{ request.user.last_name }}</p>
    <p>Email: {{ request.user.email }}</p>
    <p>Phone: {{ request.phone_number }}</p>
    <p>Zip Code: {{ request.zip_code }}</p>
    <br><br>
<a href="/edit_profile">Edit</a>

{% endblock %}