{% extends "base.html" %}
{% block content %}
 <form method="post" action="" id="registration">
     {% csrf_token %}
     <div class="formRow">
        {{ form.email.label_tag}}
        {{ form.email }}
        {{ form.email.errors }}
     </div>
     <div class="formRow">
        {{ form.phone_number.label_tag}}
        {{ form.phone_number }}
        {{ form.phone_number.errors }}
     </div>
     <div class="formRow">
        {{ form.zip_code.label_tag}}
        {{ form.zip_code }}
        {{ form.zip_code.errors }}
     </div>
     <div class="formRow">
        {{ form.first_name.label_tag}}
        {{ form.first_name }}
        {{ form.first_name.errors }}
     </div>
     <div class="formRow">
        {{ form.last_name.label_tag}}
        {{ form.last_name }}
        {{ form.last_name.errors }}
     </div>
     <div class="formRow">
        {{ form.password.label_tag}}
        {{ form.password }}
        {{ form.password.errors }}
     </div>
     <div class="formRow">
        {{ form.confirmpassword.label_tag}}
        {{ form.confirmpassword }}
        {{ form.confirmpassword.errors }}
     </div>
     <input type="submit" value="send">
 </form>

{% endblock %}