<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site_settings.meta_description }}">
    <meta name="author" content="{{ site_settings.meta_author }}">
    <title>
        {% block title %}
        Nemo
        {% endblock title %}
    </title>
    {% include "elements/styles.html" %}
    {% include "elements/javascript.html" %}
</head>
<body>
    {% if request.path == "/" or  request.path == "/login_req/" %}
        {% include "elements/home_header.html" %}
    {% else %}
        {% include "elements/header.html" %}
    {% endif %}
    {% include "elements/notification.html" %}
    {% block content %}
    <div ></div>
    {% endblock content %}
    {% include "elements/footer.html" %}

    <div class="chatWrapper">
        <div class="chatHeader">
            <h4><i class="icon-chat-bubble-two"></i> <span></span> (owner)</h4>
            <button class="chatCloseBtn"><i class="icon-cancel"></i></button>
        </div>
        <div class="chatThread customScroll" style="height: 100%;">
            <ul class="msgThread">
            </ul>
        </div>
        <div class="chatReply">
            <div class="formRow">
                <input type="text" class="formControl" placeholder="Reply" id="chat_message">
                <button type="submit" id="submit_chat_message"><i class="icon-paper-plane-o"></i></button>
            </div>
        </div>
    </div>
</body>
</html>