@media (max-width: 1366px) {
	.searchWrap {
		.grid-sizer,
		.grid-item {
			width: 50%;
		}
	}
}/* end of (max-width: 1366px) */

@media (max-width: 1090px) {
	body {
		 min-width: 100%;
		 width: 100%;
	}
	.container,
	.container.small {
		 width: 100%;
	}
	.accountWrapper {
		padding-left: 15px;
		padding-right: 15px;
	}
	.accountL {
		width: 100%;
		position: relative;
		left: 0;
		.accountImg {
			float: left;
			width: 250px;
			position: absolute;
		}
		.accountDetail {
			float: left;
			width: 100%;
			padding: 0 15px 0 265px;
		}
	}
	.accountR {
		padding-left: 0;
	}
	.tabsStyle1 li.active a {
		border-width: 1px;
	}
} /* end of (max-width: 1070px) */

@media (max-width: 980px) {
	.grid-sizer, .grid-item {
		width: 33.33333%;
	}
	.searchL {
		width: 40%;
	}
	.searchR {
		width: 58%;
	}
	.searchWrap {
		.grid-sizer,
		.grid-item {
			width: 100%;
		}
	}
	.homeMapSect {
		.colRow {
			.col9 {
				width: 100%;
			}
			.col3 {
				width: 33.33%;
			}
		}
	}
	.searchR {
		width: 100%;
		float: none;
		padding-left: 0;
		margin-bottom: 30px;
		height: 320px;
	}
	.searchL {
		width: 100%;
		float: none;
	}
	.msgRelItem {
		float: none;
		margin-bottom: 40px;
	}
	.relItemImg img {
		margin: 0 auto;
	}
	.messagesWrap {
		width: 100%;
	}
	.homeMapSect .col9 {
		max-height: 320px;
	}
} /* end of (max-width: 980px) */

@media (max-width: 880px) {
	
	.hamburgerBtn {
		display: block;
	}
	.headerNav {
		margin-top: 0;
		position: fixed;
		display: none;
		height: 100%;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(0,0,0, 0.8);
		width: 100%;
		z-index: 99;

		ul {
    		text-align: center;
    		display: table-cell;
    		vertical-align: middle;

			li {
				display: block;

				a {
					color: #fff;
					font-weight: 300;
					font-size: $fontSize + 2px;
					display: block;

					&:hover {
						color: $brandColor;
					}
					&:after {
						display: none;
					}
				}
			}
		}
		.verticalMiddle {
			width: 100%;
			height: 100%;
		}
	}
	.wrapper.pt85 {
		padding-top: 75px;
	}
	.colRow .offsetTab0 {
		margin-left: 5%;
	}
}/* end of (max-width: 880px) */

@media (max-width: 768px) {
	.colRow {
		[class^="col"]:not(.colRow) {
			width: 100%;
		}
		@for $i from $colCount through 1 {
			.#{colTab}#{$i} {
				width: (100% / $colCount) * $i;
			}
		}
		@for $i from $colCount through 0 {
			.#{offsetTab}#{$i} {
				margin-left: (100% / $colCount) * $i;
			}
		}
	}
	.homeMapSect {
		.colRow {
			.col3 {
				width: 50%;
			}
		}
	}
	.grid-sizer, .grid-item {
		width: 50%;
	}
	.headerNav  {
		display: none;
	}
	.hideMobile {
		display: none;
	}
	.showMobile {
		display: block;
		.headerNav {
			display: block;
		}
	}
	.howWorkOr {
		display: block;
	}
	footer {
		.colTab12 {
			margin-bottom: 40px;
		} 
		h3 {
			text-align: center;
			border-left: none;
			padding-left: 0;
			br {
				display: none;
			}
		}
		nav {
			text-align: center;
			li {
				display: inline-block;
				padding: 0 10px;
			}
		}
		.col3 {
			display: none;
		}
	}
	.sectionTestim {
		.testimWrap {
			max-width: 100%;
		}
	}
	.homeTop {
		height: auto;
		padding-bottom: 20px;
	}
	.sectTitle:after {
		width: 96%;
	}
	.searchWrap {
		padding-right: 15px;
	}
	.searchL {
		width: 100%;
	}
	.searchR {
		//display: none;
	}
	.accountDetail {
		h5 {
			font-size: $fontSize + 2px;
		}
		li {
			font-size: $fontSize - 2px;
		}
	}
	.listingR {
		.col4,.col5 {
			width: 50%;
		}
		.col3 {
			width: 100%;
		}
	}
	.tabsStyle1 {
		li {
			a {
				padding: 12px 0;
			}
		}
	}
	.listingPrevWrap {
		width: 100%;
	}
	.loginPopup {
		width: 100%;
		.popupBody {
			padding: 20px 30px;
		}
	}
	.popupBody {
		padding: 20px 30px;
	}
	.messagesWrap {
		padding-left: 0;
		max-height: none;
	}
	.messagesL {
		position: static;
		width: 100%;
		height: 360px;
	}
	.threadTxt {
		min-width: 100%;
	}
	.messagesR {
		padding: 20px 27px;
		.customScroll {
			max-height: none!important;
		}
	}
	.msgReplyArea {
		position: static;
	}
	.popupWrap {
		width: 100%;
	}
} /* end of (max-width: 768px) */

@media (max-width: 600px) {
	.listingsList > ul > li{
		padding-left: 0;
	}
	.listing_li {
		.listingImg {
			position: relative;
			margin: 0 auto;
			width: 100%;
		}
		.listing_h3 {
			margin-top: 15px;
		}
	}
	#edit_profile_form {
		.colRow {
			.col6 {
				width: 100%;
			}
		}
	}
	.subTitleWrap {
		&.hasTabs {
			.subTitleTabs {
				@include transform(translateX(0%));
				float: right;
			}
		}
	}
	.addPayMethod {
		>.colRow {
			>.col4 {
				width: 100%;
			}
			.col8 {
				width: 100%;
			}
		}
	}
	.listingViewL {
		width: 100%;
		float: none;
	}
	.listingViewR {
		width: 100%;
		float: none;
		padding-left: 0;
	}
} /* end of (max-width: 600px) */

@media (max-width: 520px) {
	.colRow {
		@for $i from $colCount through 1 {
			.#{colMob}#{$i} {
				width: (100% / $colCount) * $i;
			}
		}
		@for $i from $colCount through 1 {
			.#{offsetMob}#{$i} {
				margin-left: (100% / $colCount) * $i;
			}
		}
	}
	.grid-sizer, .grid-item {
		width: 100%;
	}
	.homeSrch .listInline {
		margin-top: 20px;
	}

	.homeMapSect {
		.colRow {
			.col3 {
				width: 100%;
			}
		}
	}
	.homeTopTxt h1 {
		font-size: $fontSize + 45px;
	}
	.testimWrap {
		text-align: center;
		.singleTestim {
			padding-right: 0;
			text-align: center;
			img {
				position: static;
			}
		}
		.owl-buttons {
			text-align: center;
		}
		h2 {
			text-align: center;
		}
		h4 {
			border-left: none;
		}
	}
	.accountL {
		.accountImg {
			position: relative;
			float: none;
			margin-right: auto;
			margin-left: auto; 
		}
		.accountDetail {
			float: none;
			text-align: center;
			padding-left: 0;
		}
	}
	.paymActions {
		float: none;
		margin-top: 5px;
		button:first-of-type {
			margin-left: l;
		}
	}
} /* end of (max-width: 520px) */

@media (max-width: 480px) {
	.listingR {
		.col4,.col5 {
			width: 100%;
		}
	}
	.subTitleWrap {
		&.hasInput {
			.formRow {
				width: 100%;
				float: none;
				display: block;
				margin: 15px auto;
			}
		}
	}
	.fullWidth {
		.col6 {
			width: 100%;
		}
	}
	.birthDate {
		select {
			&:nth-of-type(1) {
				width: 100%;
				margin-bottom: 4%;
			}
			&:nth-of-type(2) {
				width: 46%;
			}
			&:nth-of-type(3) {
				width: 50%;
			}
		}
	}
	.viewListingTop {
		.pullLeft {
			float: none;
			width: 100%;
			max-width: 100%;
			text-align: center;
		}
		.pullRight {
			float: none;
			width: 100%;
			max-width: 100%;
			text-align: center;
			margin-top: 10px;
		}
	}
}/* end of (max-width: 480px) */
@media (max-width: 360px) {
	.homeTopTxt h1 {
		font-size: $fontSize + 30px;
	}
	.homeTopTxt h4 {
		font-size: $fontSize + 6px;
	}
} /* end of (max-width: 360px) */

@media (min-width: 880px) {
	.headerNav {
		display: block;
		.bordered {
			border: none;
		}
	}
}