{% extends "base.html" %}
{% block content %}
<div class="topLighLine"></div>
<div class="container accountWrapper pb80">
    {% include "elements/profile.html" %}
    <div class="accountR">
        {% include "elements/account_menu.html" %}
        <div class="wow fadeInDown" data-wow-delay="1s">
             <p>Please add a bank account in order to receive payment.</p>
             <br>
             <form method="post" action="">
                 {% csrf_token %}
                 <div class="formRow">
                    {{ form.street_address.label_tag}}
                    {{ form.street_address }}
                    {{ form.street_address.errors }}
                 </div>
                 <div class="formRow">
                    {{ form.locality.label_tag}}
                    {{ form.locality }}
                    {{ form.locality.errors }}
                 </div>
                 <div class="formRow">
                    {{ form.region.label_tag}}
                    {{ form.region }}
                    {{ form.region.errors }}
                 </div>
                 <div class="colRow fullWidth">
                     <div class="formRow col6">
                        {{ form.postal_code.label_tag}}
                        {{ form.postal_code }}
                        {{ form.postal_code.errors }}
                     </div>
                     <div class="formRow col6">
                        {{ form.phone_number.label_tag}}
                        {{ form.phone_number }}
                        {{ form.phone_number.errors }}
                     </div>
                 </div>
                 <div class="formRow birthDate">
                    {{ form.birthdate.label_tag}}
                    {{ form.birthdate }}
                    {{ form.birthdate.errors }}
                 </div>
                 <div class="formRow">
                    {{ form.routing_number.label_tag}}
                    {{ form.routing_number }}
                    {{ form.routing_number.errors }}
                 </div>
                 <div class="formRow">
                    {{ form.account_number.label_tag}}
                    {{ form.account_number }}
                    {{ form.account_number.errors }}
                 </div>
                 <div class="formRow checkForm">
                    <label class="checkAndRadio" for="id_terms">
                        {{ form.terms }}
                        By clicking Next Below, I accept the <a href="#" class="txtBtn">terms and conditions</a>
                    </label>
                    {{ form.terms.errors }}
                 </div>
                 <input type="submit" value="next" class="btn btnPrime">
             </form>
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function(){

        var address = '{{address}}';
        if(address) {
            var componentForm = {
                street_number: 'short_name',
                route: 'long_name',
                locality: 'long_name',
                administrative_area_level_1: 'short_name',
            };

            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': address}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var address = '';
                    for (var i = 0; i < results[0].address_components.length; i++) {
                        var addressType = results[0].address_components[i].types[0];
                        var val = results[0].address_components[i][componentForm[addressType]];
                        if (val) {
                            if (addressType === "locality") {
                                 $("#id_locality").val(val);
                            }
                            if (addressType === "administrative_area_level_1") {
                                $("#id_region").val(val);
                            }
                            if (addressType === "street_number" || addressType === "route") {
                                address = address + ' ' + val;
                            }
                        }
                    }
                    $('#id_street_address').val($.trim(address));
                } else {
                    $('#id_street_address').val($.trim(address));
                }
            });
        }
    });
</script>


{% endblock %}

