{% extends "base.html" %}
{% block content %}
<div class="container small pb40">
    <div class="sideSlideWrap">
        <div id="view-initial" class="singleSlide active">
            <div class="viewListingTop">
                <div class="clearAfter">
                    <div class="pullLeft wow fadeIn" data-wow-delay=".5s">
                        <h3>{{ param.name }}</h3>
                        <address>
                            <i class="icon-location-1"></i>
                            {% if user.is_authenticated %}
                                {{ param.address }}
                            {% else %}
                                {{ param.street }}
                            {% endif %}
                        </address>
                    </div>
                    <div class="pullRight wow fadeIn" data-wow-delay=".5s">
                        <strong>${{ param.price }}</strong>
                        <span>Per day</span>
                    </div>
                </div>
            </div>
            <div class="clearAfter">
                <div class="listingViewL">
                    <figure class="wow fadeInDown listinhMainImg">
                        <img src="/media/images/items/{{ image.image_name }}">
                    </figure>
                    <div class="listingRatingLine wow fadeInDown" data-wow-delay=".2s">
                        <!-- <div class="pullLeft">
                            <label class="block mb5">Item Rating</label>
                            <img src="/media/images/rating-badges.png">
                        </div> -->
                        
                    </div>
                    <div class="subSect wow fadeInDown" data-wow-delay=".4s">
                        <ul class="labelValueList evenOdd">
                            <li>
                                <label>Category:</label>
                                <span>{{ param.subcategory.name }}</span>
                            </li>
                            <li>
                                <label>Owner:</label>
                                <span class="success">
                                    {% if user.is_authenticated %}{{ param.item_owner.first_name }} {% else %} {{ param.item_owner.first_name|first }}. {% endif %}
                                    {{ param.item_owner.last_name|first }}.
                                </span>
                                {% if param.item_owner_id != request.user.id %}
                                <div class="pullRight ownerMessage">
                                    {% if user.is_authenticated %}
                                        <a class="btn btnPrime btnSquare start_chat" item="{{param.id}}">
                                            <i class="icon-message"></i>
                                        </a>
                                    {% else %}
                                        <a href="#login_popup" class="btn btnPrime btnSquare popupBtn" item="/profile/conversation/{{ param.item_owner_id }}" id="contact_owner">
                                            <i class="icon-message"></i>
                                        </a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </li>
                            <li>
                                <label>Rating Badges:</label>
                                <span><img src="/media/images/rating-badges.png" alt=""></span>
                            </li>
                            <li>
                                <label>Summary:</label>
                                <span class="days_amount">${{ param.price }} x 0 days</span>
                            </li>
                            <li>
                                <label>Today’s status:</label>
                                <span {% if rent %}class="danger">Not Available{% else %} class="success">Available{% endif %}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="subSect wow fadeInDown" data-wow-delay=".6s">
                        <h4 class="subSectTitle">Description</h4>
                        <p>{{ param.description }}</p>
                    </div>
                </div>
                <div class="listingViewR wow fadeInDown" data-wow-delay="1s">
                    <div class="subSect wow fadeInDown" data-wow-delay=".8s">
                        <div class="gMap listingMap" id="gMap"></div>
                    </div>
                    <div class="datepicker mb5"></div>
                    <p class="additionalTxt">Click to reserve the dates when you need them. Notes dates in red are booked by others.</p>
                    <div class="subSect wow fadeInDown" data-wow-delay=".4s">
                        <ul class="labelValueList evenOdd">
                            <li>
                                <label>Summary:</label>
                                <span class="days_amount">${{ param.price }} x 0 days</span>
                            </li>
                            <li>
                                <label>Total amount:</label>
                                <span id="total_amount">$0</span>
                            </li>
                        </ul>
                    </div>
                    <form method="post" action="" id="rent_form">
                        {% csrf_token %}
                        <div class="formRow">
                            {{ form.start_date }}
                        </div>
                        <div class="formRow">
                            {{ form.rent_date }}
                        </div>
                    </form>
                    {% if param.item_owner_id != request.user.id %}
                        {% if user.is_authenticated %}
                            {% if request.user.customer_id %}
                                <button class="btn btnBorder btnBlock" id="rent_item">Request</button>
                            {% else %}
                                <a href="#billing_popup" class="btn btnBorder btnBlock pay_meth popupBtn" id="">Request</a>
                            {% endif %}
                        {% else %}
                            <a href="#login_popup" class="btn btnBorder btnBlock popupBtn" id="request_item">Request</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="billing_popup" class="popupWrap mfp-hide">
            <div class="popupHead">
                <h3>It seems that you do not have a payment method on file. Please add one <a href="#add_billing_popup" class="txtBtn to_billing_page popupBtn" item_id="{{param.id}}">here</a>.</h3>
                <h2>The nemo team</h2>
            </div>
        </div>
    </div>
</div>
<div id="sound"></div>
</div>
<script>
$(document).ready(function() {

    if(getCookie('billing') == 'error'){
        $('.to_billing_page').click();
    }
    setCookie('billing', '', -1)
    delCookie('billing')

    $('#meth_item_id').val('{{param.id}}')
    var partner_id = '{{param.item_owner_id}}'
    var interval = null;
    var item_id = '{{param.id}}'
    $('.chatCloseBtn').on('click',function(){
        $('.chatWrapper').hide();
        if(interval){
            clearInterval(interval);
        }
    })

    $('#chat_message').keypress(function (e) {
      if (e.which == 13) {
        $("#submit_chat_message").trigger("click");
        return false;
      }
    });

    $("#submit_chat_message").on('click',function(){
        var message = $('#chat_message').val();
        $('#chat_message').val('');
        if (message.trim()) {
            $.ajax({
                    url: '/profile/conversation/'+partner_id+'/' + item_id + '/',
                    type:'post',
                    data:{
                        message: message
                    },
                    success:function(responseJSON) {
                        if(responseJSON.response){
                            var user_photo = '{{ request.user.photo }}';

                            if (user_photo){
                                var photo = user_photo
                            }else {
                                var photo = 'images/users/default_user_photo.jpg'
                            }

                            if(responseJSON.bubble){
                                $('.msgThread li.msgSent:last-child p').append('<br> '+ responseJSON.last_message);
                                $('.msgThread li.msgSent:last-child time').text(responseJSON.modified)
                            }else{
                                 var next_li = '<li class="msgSent">'
                                                    +'<div class="threadImg">'
                                                        +'<img src="/media/'+photo+'">'
                                                    +'</div>'
                                                    +'<div class="threadCont">'
                                                        +'<div class="clearAfter">'
                                                            +'<div class="threadTxt">'
                                                                +'<p>'+responseJSON.last_message+'</p>'
                                                            +'</div>'
                                                        +'</div>'
                                                        +'<time>'+responseJSON.modified+'</time>'
                                                    +'</div>'
                                                +'</li>'
                                                $('.msgThread').append(next_li);
                            }
                            $('#id_message').val('');
                            $('.messagesR .customScroll').mCustomScrollbar("scrollTo","bottom");
                        }
                    },
                    error:function(){
                    }
            });
        }
    });

    ////////////// get unread_messages ///////////////////////


    function checkData(){
        $.ajax({
            url: '/profile/unread_messages/',
            type:'post',
            data:{
                partner_id: partner_id,
                item_id: item_id
            },
            success:function(response) {

                $('.msgReceived').removeClass('new')

                if(!response || response.response == false || response == '') {
                    return false
                }
                var message_div = '';

                jQuery.each(response, function(index, element) {

                    if (element.from_user_id__photo)
                        { var photo = element.from_user_id__photo;
                         }
                    else {
                        var photo = 'images/users/default_user_photo.jpg'
                        }

                    if(element.thread_id !=0){
                        message_div = '<li class="msgReceived new">'
                                        +'<div class="threadImg">'
                                            +'<img src="/media/'+ photo +'">'

                                        +'</div>'
                                        +'<div class="threadCont">'
                                            +'<div class="clearAfter">'
                                                +'<div class="threadTxt">'
                                                    +'<p>'+element.message+'</p>'
                                                +'</div>'
                                            +'</div>'
                                            +'<time>'+element.modified+'</time>'
                                        +'</div>'
                                    +'</li>'
                        $(".msgThread").append(message_div);
                    }else{
                          $('.msgThread li.msgReceived:last-child p').append('<br> '+ element.message);
                          $('.msgThread li.msgReceived:last-child time').text(element.modified)
                    }
                });
                playSound();
                $('.messagesR .customScroll').mCustomScrollbar("scrollTo","bottom")

            },
            error:function(){
            }
        });
    }

    $('.start_chat').on("click",function(){
        $(".msgThread").html('')
        if(interval){
            clearInterval(interval);
        }
        interval = setInterval(function(){checkData()}, 7000);
        $('.chatWrapper').show();
        var item_id = $(this).attr('item')
        $.ajax({
            url: '/profile/start_chat/',
            type:'post',
            data:{
                partner_id:partner_id,
                item_id:item_id
            },
            success:function(response) {
                messages = jQuery.parseJSON(response.messages)
                $('.chatHeader h4 span').text(response.user.user_name)
                if(messages != ''){
                    message_div = '';
                    jQuery.each(messages, function(index, element) {
                        if(element.from_user_id_id == response.user.user_id){
                             var msgClass = "msgSent"
                             var photo = response.user.my_photo
                        }else{
                             var msgClass = "msgReceived"
                             var photo = response.user.photo
                        }
                        message_div += '<li class="' + msgClass + '">'
                                +'<div class="threadImg">'
                                    +'<img src="/media/' + photo + '">'
                                +'</div>'
                                +'<div class="threadCont">'
                                    +'<div class="clearAfter">'
                                        +'<div class="threadTxt">'
                                            +'<p>' + element.message + '</p>'
                                        +'</div>'
                                    +'</div>'
                                    + '<time>' + element.modified + '</time>'
                                + '</div>'
                        +'</li>'
                    });
                    $(".msgThread").append(message_div);
                    $('.messagesR .customScroll').mCustomScrollbar("scrollTo","bottom");
                }
            },
        });
    })
    var val_error = '{{val_error}}'
    if(val_error){
        $('.additionalTxt').addClass('warning');
    }

    $("#rent_item").on('click',function(e){
        var start_date_val = $('#id_start_date').val()
        var end_date_val = $('#id_rent_date').val()
        if ((start_date_val == '' && end_date_val == '') || (end_date_val != '' && start_date_val == '') ) {
            $('.additionalTxt').addClass('warning');
            return false;
        }else if(start_date_val != '' && end_date_val == ''){
            $('#id_rent_date').val(start_date_val)
        }

        $("#rent_form").submit();
    });

    var price = '{{ param.price }}';
    var dates = new Object()

    {% for key,blockday in blockdays.items %}
        dates["{{key}}"] = "{{blockday}}"
    {% endfor %}

    var newdate = new Date();

    dateRange = []
    for (var k in dates){
        var startDate = new Date(dates[k]);
        var endDate  = new Date(k);
        for (var d = new Date(startDate.getTime() + newdate.getTimezoneOffset() * 60000); d <= new Date(endDate.getTime() + newdate.getTimezoneOffset() * 60000); d.setDate(d.getDate() + 1)) {
            dateRange.push($.datepicker.formatDate('yy-mm-dd', d));
        }
    }

    var dateToday = new Date();
    var lastDate = new Date(dateToday.getFullYear(), dateToday.getMonth()+6, 0);

    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd'
    });
    $("#id_start_date,#id_rent_date").val('');
    $(".datepicker").datepicker({
		nextText: "",
		prevText: "",
		showOtherMonths: true,
        selectOtherMonths: true,
        minDate: dateToday,
        maxDate: lastDate,
        numberOfMonths: 1,
        beforeShowDay: function (date) {
            var date1 = $.datepicker.parseDate($.datepicker._defaults.dateFormat, $("#id_start_date").val());
            var date2 = $.datepicker.parseDate($.datepicker._defaults.dateFormat, $("#id_rent_date").val());

            var dateString = jQuery.datepicker.formatDate('yy-mm-dd', date);

            if(date1 && date2 && date >= date1 && date <= date2){
                if(dateRange.indexOf(dateString) == -1){
                    return [true,'dp-highlight']
                }else{
                    return [true,"ui-datepicker-unselectable ui-state-disabled booked"]
                }
            }
            else if(dateRange.indexOf(dateString) == -1){
                return [true,'']
            }
            else{
                 return [true,"ui-datepicker-unselectable ui-state-disabled booked"]
            }
        },
        onSelect: function(dateText, inst) {
            var date1 = $.datepicker.parseDate($.datepicker._defaults.dateFormat, $("#id_start_date").val());
            var date2 = $.datepicker.parseDate($.datepicker._defaults.dateFormat, $("#id_rent_date").val());
            var selectedDate = $.datepicker.parseDate($.datepicker._defaults.dateFormat, dateText);
            if (!date1 || date2) {
                $("#id_start_date").val(dateText);
                $("#id_rent_date").val("");
                $(this).datepicker();
            } else if( selectedDate < date1 ) {
                $("#id_rent_date").val( $("#id_start_date").val() );
                $("#id_start_date").val( dateText );
                $(this).datepicker();
            } else {
                $("#id_rent_date").val(dateText);
                $(this).datepicker();
            }
            var result = validateDateRange();
            var start_date = new Date($("#id_start_date").val());
            var end_date = new Date($("#id_rent_date").val());
            var diff = Math.abs(end_date - start_date);
            var diffDays = Math.ceil(diff / (1000 * 3600 * 24));
            if(result && end_date != ''){
                if(diffDays == 0 || isNaN(diffDays)){
                    diffDays = 1;
                }else{
                    diffDays += 1;
                }

                var amount = price * diffDays;
                var roundedAmount = amount.toFixed(2);
                $('.days_amount').text('$' + price + ' x ' + diffDays + ' day');
                $('#total_amount').text('$' + roundedAmount);
                $('#request_slide').removeClass('disableBtn');
                $(".datepicker").removeClass('not_valid');
            }else if(result && start_date != '' &&  start_date == ''){

            }else{
                $('#request_slide').addClass('disableBtn');
                $(".datepicker").addClass('not_valid');
                alert("Invalid Date Range");
            }
        },
	});
    $('.ui-datepicker-current-day').find('.ui-state-active').removeClass('ui-state-active');

    $('.booked').on('click',function(){
        alert('Some of the dates are no longer available.');
    })
})

window.pin = '/media/images/icons/map-pin.png';
var myLatLng = {lat: parseFloat('{{param.latitude}}'), lng: parseFloat('{{param.longitude}}')};

var map = new google.maps.Map(document.getElementById('gMap'), {
    zoom: 10,
    center: myLatLng
});

var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    icon: window.pin,
    title: '{{ param.name }}'
});
</script>
{% endblock %}
