{% extends "base.html" %}
{% block content %}
<div class="container small pb40">
    <div class="sideSlideWrap">
        <div id="view-initial" class="singleSlide active">
            <div class="viewListingTop">
                <div class="clearAfter">
                    <div class="pullLeft wow fadeIn" data-wow-delay=".5s">
                        <h3>{{ param.name }}</h3>
                        <address>
                            <i class="icon-location-1"></i>
                            {{ param.address }}
                        </address>
                    </div>
                    <div class="pullRight wow fadeIn" data-wow-delay=".5s">
                        <strong>${{ param.price }}</strong>
                        <span>Per day</span>
                    </div>
                </div>
            </div>
            <div class="clearAfter">
                <div class="listingViewL">
                    <figure class="wow fadeInDown listinhMainImg">
                        <img src="/media/images/items/{{ param.image_filename }}">
                    </figure>
                    <div class="listingRatingLine wow fadeInDown" data-wow-delay=".2s">
                        <div class="pullLeft">
                            <label class="block mb5">Item Rating</label>
                            <img src="/media/images/rating-badges.png">
                        </div>
                        {% if param.item_owner_id != request.user.id %}
                        <div class="pullRight">
                            <span>Contact<br> owner</span>
                            {% if user.is_authenticated %}
                                <a href="/profile/conversation/{{ param.item_owner_id }}" class="btn btnPrime btnSquare">
                                    <i class="icon-message"></i>
                                </a>
                            {% else %}
                                <a href="#login_popup" class="btn btnPrime btnSquare popupBtn" item="/profile/conversation/{{ param.item_owner_id }}" id="contact_owner">
                                    <i class="icon-message"></i>
                                </a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="subSect wow fadeInDown" data-wow-delay=".4s">
                        <ul class="labelValueList evenOdd">
                            <li>
                                <label>Category:</label>
                                <span>{{ param.subcategory.name }}</span>
                            </li>
                            <li>
                                <label>Owner:</label>
                                <span class="success">{{ param.user_firstname }} {{ param.user_lastname }}</span>
                            </li>
                            <li>
                                <label>Rating Budges:</label>
                                <span><img src="/media/images/rating-badges.png" alt=""></span>
                            </li>
                            <li>
                                <label>Summary:</label>
                                <span class="days_amount">${{ param.price }} x 0 days</span>
                            </li>
                            <li>
                                <label>Today’s status:</label>
                                <span {% if param.rent_status == 'approved' and param.rent_start_date|date:"Y-m-d h:i:s" <= this_moment|date:"Y-m-d h:i:s" and param.rent_end_date|date:"Y-m-d h:i:s" >= this_moment|date:"Y-m-d h:i:s" %}class="danger">Not Available{% else %} class="success">Available{% endif %}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="subSect wow fadeInDown" data-wow-delay=".6s">
                        <h4 class="subSectTitle">Description</h4>
                        <p>{{ param.description }}</p>
                    </div>
                </div>
                <div class="listingViewR wow fadeInDown" data-wow-delay="1s">
                    <div class="subSect wow fadeInDown" data-wow-delay=".8s">
                        <div class="gMap listingMap" id="gMap"></div>
                    </div>
                    <div class="datepicker mb5"></div>
                    <p class="additionalTxt">Reserve the dates when you need the item</p>
                    <div class="subSect wow fadeInDown" data-wow-delay=".4s">
                        <ul class="labelValueList evenOdd">
                            <li>
                                <label>Summary:</label>
                                <span class="days_amount">${{ param.price }} x 0 days</span>
                            </li>
                            <li>
                                <label>Total amount:</label>
                                <span id="total_amount">$0</span>
                            </li>
                        </ul>
                    </div>
                    <form method="post" action="" id="rent_form">
                        {% csrf_token %}
                        <div class="formRow">
                            {{ form.start_date }}
                        </div>
                        <div class="formRow">
                            {{ form.rent_date }}
                        </div>
                    </form>
                    {% if param.item_owner_id != request.user.id %}
                        {% if user.is_authenticated %}
                            {% if request.user.customer_id %}
                                <button class="btn btnBorder btnBlock" id="rent_item">Request</button>
                            {% else %}
                                <a href="#billing_popup" class="btn btnBorder btnBlock popupBtn" id="">Request</a>
                            {% endif %}
                        {% else %}
                            <a href="#login_popup" class="btn btnBorder btnBlock popupBtn" id="request_item">Request</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="billing_popup" class="popupWrap mfp-hide">
            <div class="popupBody">
                <p>Please add <a href="/billing/" class="txtBtn">default payment method</a> in order to rent this item.</p>
            </div>
        </div>
    </div>
</main>
<script>
$(document).ready(function() {

    var val_error = '{{val_error}}'
    if(val_error){
        $('.additionalTxt').addClass('warning');
    }

    $("#rent_item").on('click',function(e){
        if ($('#id_start_date').val() == '' || $('#id_rent_date').val() == '' ) {
            $('.additionalTxt').addClass('warning');
            return false;
        }
        $("#rent_form").submit();
    });

    var price = '{{ param.price }}';
    var dates = new Object()

    {% for key,blockday in blockdays.items %}
        dates["{{key}}"] = "{{blockday}}"
    {% endfor %}

    dateRange = []
    for (var k in dates){
        var startDate = dates[k];
        var endDate  = k;
        for (var d = new Date(startDate); d <= new Date(endDate); d.setDate(d.getDate() + 1)) {
            dateRange.push($.datepicker.formatDate('yy-mm-dd', d));
        }
    }

    var dateToday = new Date();
    var lastDate = new Date(dateToday.getFullYear(), dateToday.getMonth()+6, 0);

    $.datepicker.setDefaults({
        dateFormat: 'yy-mm-dd'
    });
    $("#id_start_date,#id_rent_date").val('');
    $(".datepicker").datepicker({
		nextText: "",
		prevText: "",
		showOtherMonths: true,
        selectOtherMonths: true,
        minDate: dateToday,
        maxDate: lastDate,
        numberOfMonths: 1,
        beforeShowDay: function (date) {
            var date1 = $.datepicker.parseDate($.datepicker._defaults.dateFormat, $("#id_start_date").val());
            var date2 = $.datepicker.parseDate($.datepicker._defaults.dateFormat, $("#id_rent_date").val());
            var dateString = jQuery.datepicker.formatDate('yy-mm-dd', date);
            if(date1 && date2 && date >= date1 && date <= date2){
                if(dateRange.indexOf(dateString) == -1){
                    return [true,'dp-highlight']
                }else{
                    return [true,"ui-datepicker-unselectable ui-state-disabled"]
                }
            }else if(dateRange.indexOf(dateString) == -1){
                return [true,'']
            }else{
                 return [true,"ui-datepicker-unselectable ui-state-disabled"]
            }
        },
        onSelect: function(dateText, inst) {
            var date1 = $.datepicker.parseDate($.datepicker._defaults.dateFormat, $("#id_start_date").val());
            var date2 = $.datepicker.parseDate($.datepicker._defaults.dateFormat, $("#id_rent_date").val());
            var selectedDate = $.datepicker.parseDate($.datepicker._defaults.dateFormat, dateText);
            if (!date1 || date2) {
                $("#id_start_date").val(dateText);
                $("#id_rent_date").val("");
                $(this).datepicker();
            } else if( selectedDate < date1 ) {
                $("#id_rent_date").val( $("#id_start_date").val() );
                $("#id_start_date").val( dateText );
                $(this).datepicker();
            } else {
                $("#id_rent_date").val(dateText);
                $(this).datepicker();
            }
            var result = validateDateRange();
            var start_date = new Date($("#id_start_date").val());
            var end_date = new Date($("#id_rent_date").val());
            var diff = Math.abs(end_date - start_date);
            var diffDays = Math.ceil(diff / (1000 * 3600 * 24));
            if(result && end_date != ''){
                if(diffDays == 0 || isNaN(diffDays)){
                    diffDays = 1;
                }else{
                    diffDays += 1;
                }

                var amount = price * diffDays;
                var roundedAmount = amount.toFixed(2);
                $('.days_amount').text('$' + price + ' x ' + diffDays + ' day');
                $('#total_amount').text('$' + roundedAmount);
                $('#request_slide').removeClass('disableBtn');
                $(".datepicker").removeClass('not_valid');
            }else if(result && start_date != '' &&  start_date == ''){

            }else{
                $('#request_slide').addClass('disableBtn');
                $(".datepicker").addClass('not_valid');
                alert("Invalid Date Range");
            }
        },
	});
})

var myLatLng = {lat: parseFloat('{{param.latitude}}'), lng: parseFloat('{{param.longitude}}')};

var map = new google.maps.Map(document.getElementById('gMap'), {
    zoom: 10,
    center: myLatLng
});

var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: '{{ param.name }}'
});

</script>
{% endblock %}
