{% extends "base.html" %}
{% block content %}
<div class="topLighLine"></div>
    <div class="container accountWrapper pb80">
        {% include "elements/profile.html" %}
        <div class="accountR">
            {% include "elements/account_menu.html" %}
            <div class="wow fadeInDown" data-wow-delay="1s">
                <div id="transaction">
                    <div class="subTitleWrap hasTabs">
                        <h2>Transactions</h2>
                        <ul class="tabs subTitleTabs">
                            <li><a href="{% url 'profile:out_transactions' %}">Incoming</a></li>
                            <li><a href="{% url 'profile:in_transactions' %}">Outgoing</a></li>
                        </ul>
                    </div>
                    <p class="transactIntro">Items shared/rented/sold to neighbors</p>
                    <div class="cancelWrap expandWrap">
                        <button class="closeExpandWrap"><i class="icon-cancel"></i></button>
                        <h3 class="cancelItemName">Cancelation for <strong class="item_name"></strong> item</h3>
                        <form  action='' method="POST" id="cancel_rent">
                            {% csrf_token %}
                            <input type='hidden' value='{{requests.id}}' name="rent">
                            <input type='hidden' value='' name="action" class='action'>
                            <div class="colRow">
                                <div class="col6">
                                    <div class="formRow">
                                        {{ form.card_number.label_tag}}
                                        {{ form.card_number }}
                                        {{ form.card_number.errors }}
                                    </div>
                                </div>
                                <div class="col6">
                                    <div class="formRow">
                                        {{ form.cvv.label_tag}}
                                        {{ form.cvv }}
                                        {{ form.cvv.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="colRow">
                                <div class="col6">
                                    <div class="formRow">
                                        {{ form.month.label_tag}}
                                        {{ form.month }}
                                        {{ form.month.errors }}
                                    </div>
                                </div>
                                <div class="col6">
                                    <div class="formRow">
                                        {{ form.year.label_tag}}
                                        {{ form.year }}
                                        {{ form.year.errors }}
                                    </div>
                                </div>
                            </div>
                            <input type="submit"  value="Cancel" id="cancel_request" class="btn btnBorder approve"/>
                        </form>
                    </div>
                    <div id="incoming" class="tableScroll">
                        {% if in_transactions %}
                            <table class="tableStyle">
                                <thead>
                                    <tr>
                                        <th style="width: 5%;">#</th>
                                        <th style="width: 13%;">
                                            Item
                                            <ul>
                                                <li><a href="/profile/in_transactions/?name=ASC"><i class="icon-angle-up"></i></a></li>
                                                <li><a href="/profile/in_transactions/?name=DESC"><i class="icon-angle-down"></i></a></li>
                                            </ul>
                                        </th>
                                        <th style="width: 12%;">Requested by</th>
                                        <th style="width: 6%;">Type</th>
                                        <th style="width: 9%;">Amount</th>
                                        <th style="width: 12%;">Requested on</th>
                                        <th style="width: 12%;">Need it for</th>
                                        <th style="width: 9%;">Status</th>
                                        <th style="width: 8%;">Action</th>
                                        <th style="width: 14%;">Others</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for in_transaction in in_transactions %}
                                        <tr amount='{{in_transaction.param.amount}}' rent='{{in_transaction.id}}' >
                                            <td class="">{{ forloop.counter }}</td>
                                            <td class="">
                                                <img class="inOutTableImg" src='/media/images/items/{{ in_transaction.param.image.image_name }}'>
                                                <span>{{ in_transaction.param.name }}</span>
                                            </td>
                                            <td>
                                                <div style="max-width: 100px;">
                                                    {{ in_transaction.user.first_name }} {{ in_transaction.user.last_name }} <br/>
                                                </div>
                                                <div class="alignC">
                                                    <a href="/profile/conversation/{{in_transaction.user_id }}/{{in_transaction.param_id}}" class="btn btnPrime btnSquare start_chat">
                                                        <i class="icon-message"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>Rent</td>
                                            <td>${{ in_transaction.price }}</td>
                                            <td>{{ in_transaction.created|date:"Y-m-d g:i A" }}</td>
                                            <td class="nowrap">{{ in_transaction.start_date|date:"Y-m-d" }}</td>
                                            <td>
                                                {% if in_transaction.status == 'pending' %}
                                                    Waiting for your approval
                                                {% elif in_transaction.status == 'approved' %}
                                                    You have approved this request
                                                {% elif in_transaction.status == 'customer_canceled' or in_transaction.status == 'customer_declined' %}
                                                    Canceled
                                                {% elif in_transaction.status == 'seller_canceled' or in_transaction.status == 'seller_declined' %}
                                                    You have canceled this request
                                                {% elif in_transaction.status == 'admin_canceled' %}
                                                    Admin has canceled this request
                                                {% elif in_transaction.status == 'paid' %}
                                                    Returned
                                                {% elif in_transaction.status == 'expired' %}
                                                    This request has been expired
                                                {% else %}
                                                    {{ in_transaction.status }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if in_transaction.status == 'pending' %}
                                                    <div class="nowrap"><button class="success seller_actions" action="Approve">Approve</button></div>
                                                {% elif in_transaction.status == 'approved' %}
                                                     <a href="/profile/conversation/{{in_transaction.user_id }}/{{in_transaction.param_id}}" class="success">Contact neighor</a>
                                                {% else %}
                                                    <div class="nowrap">All Set</div>
                                                {% endif %}
                                                <div class="loader"></div>
                                            </td>
                                            <td>
                                                {% if in_transaction.status == 'pending' %}
                                                    <div class="nowrap">Need to cancel?<br/>Click <button class="success seller_actions" action="Cancel">here</button></div>
                                                {% elif in_transaction.status == 'approved' %}
                                                    <div class="nowrap">Need to cancel?<br/>Click <button class="success cancel_approved_transaction" action="Cancel">here</button></div>
                                                {% else %}
                                                    <div class="nowrap">Need help?<br/><a href="{% url 'profile:support' %}" class="success">Contact</a> NEMO</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="pagination">
                                <span class="step-links">
                                    {% if in_transactions.has_previous %}
                                        <a href="?page={{ in_transactions.previous_page_number }}"><i class="icon-arrow-left-thin"></i></a>
                                    {% endif %}
                                    <span class="current">
                                        Page {{ in_transactions.number }} of {{ in_transactions.paginator.num_pages }}
                                    </span>
                                    {% if in_transactions.has_next %}
                                        <a href="?page={{ in_transactions.next_page_number }}"><i class="icon-arrow-right-thin"></i></a>
                                    {% endif %}
                                </span>
                            </div>

                            <div id="cancel_request_popup_2" class="popupWrap mfp-hide">
                                <div class="popupHead">
                                    <h3>Confirmation</h3>
                                </div>
                                <div class="popupBody">
                                    <p>Please note that you have already approved your neighbor’s request and your neighbor is awaiting the item, if you cancel now, you will be charged $2 as a compensation to your neighbor and to cover the transaction fee.</p>
                                    <p>Are you sure you want to cancel?</p>
                                    <input type="submit" name="no" value="No" class="cancel_request_no btn btnBorder" />
                                    <input type="submit" name="yes" value="Cancel" class="cancel_request_yes btn expandBtn btnPrime" />
                                </div>
                            </div>
                            <div id="cancel_request_popup_5" class="popupWrap mfp-hide">
                                <div class="popupHead">
                                    <h3>Confirmation</h3>
                                </div>
                                <div class="popupBody">
                                    <p>Please note that tomorrow is the rental start date and your neighbor is awaiting the item, if you cancel now, it will incur great inconvenience to him/her, thus you will be charged $5 as a compensation to your neighbor and to cover the transaction fee</p>
                                    <p>Are you sure you want to cancel?</p>
                                    <input type="submit" name="no" value="No" class="cancel_request_no btn btnBorder" />
                                    <input type="submit" name="yes" value="Cancel" class="cancel_request_yes expandBtn btn btnPrime" />
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}