{% extends "base.html" %}
{% block content %}
    <p>{{requests.param.name|title}}</p>
    <p>{{requests.param.description}}</p>
    <p>{{requests.start_date.date}}</p>
    <p>{{requests.rent_date.date}}</p>

    <form method="POST" action=''>
        {% csrf_token %}
        <input type='hidden' value='{{requests.id}}' name="rent">
        {% if requests.status == 'pending' %}
            <input type="submit" name="action" value="Decline" />
        {% elif requests.status == 'approved' and cancel == 1 %}
            <input type="submit" name="action" value="Cancel" />
        {% elif requests.status == 'approved' and cancel == 0 %}
            {{'You will be able to cancel the request  2 hours later after approving'}}
        {% else %}
            {{requests.status}}
        {% endif %}
    </form>
{% endblock %}

