f{% extends "base.html" %}
{% block content %}
<div class="topLighLine"></div>
    <div class="container accountWrapper pb80">
        {% include "elements/profile.html" %}
        <div class="accountR">
            {% include "elements/account_menu.html" %}
            <div class="wow fadeInDown" data-wow-delay="1s">
                <div id="transaction">
                    <div class="subTitleWrap hasTabs">
                        <h2>Transactions</h2>
                        <ul class="tabs subTitleTabs">
                            <li><a href="{% url 'profile:in_transactions' %}">Incoming</a></li>
                            <li class="active"><a href="{% url 'profile:out_transactions' %}">Outgoing</a></li>
                        </ul>
                    </div>
                    <div class="cancelWrap expandWrap">
                        <button class="closeExpandWrap"><i class="icon-cancel"></i></button>
                        <h3 class="cancelItemName">Cancelation for <strong>Lorem Ipsum</strong> item</h3>
                        <div class="colRow">
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">Blah blah</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">Another blah blah</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                        </div>
                        <div class="colRow">
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">Some lorem ipxum</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">another lorem ipsum</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="outgoing" class="tableScroll">
                        {% if out_transactions %}
                            <table class="tableStyle footable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Item name</th>
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th data-hide="all">From</th>
                                        <th>Total Amount</th>
                                        <th data-hide="all">Transaction Dates</th>
                                        <th data-hide="all">Reserved Dates</th>
                                        <th data-hide="all">Action</th>
                                        <th>Payment</th>
                                        <th>Action</th>
                                        <th data-hide="all">Rate & Review</th>
                                        <th data-hide="all">Share</th>
                                        <th data-toggle="true">More</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for out_transaction in out_transactions %}
                                        <tr rent='{{out_transaction.id}}' >
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ out_transaction.param.name }}</td>
                                            <td>Rent</td>
                                            <td>{{ out_transaction.status }}</td>
                                            <td>{{ out_transaction.user_first_name }} {{ out_transaction.user_last_name }}</td>
                                            <td>${{ out_transaction.price }}</td>
                                            <td>{{ out_transaction.created|date:"Y-m-d h:i:s" }}</td>
                                            <td>{{ out_transaction.start_date|date:"Y-m-d" }} - {{ out_transaction.rent_date|date:"Y-m-d" }}</td>
                                            {% if out_transaction.status == 'pending' %}
                                                <td>waiting Approval</td>
                                            {% else %}
                                                    <td>{{out_transaction.status}}</td>
                                            {% endif %}
                                            <td>Make payment</td>
                                            <td class="nowrap">
                                                {% if out_transaction.status == 'pending' %}
                                                    <button class="success client_actions" action="Decline">Decline</button>
                                                {% elif out_transaction.status == 'approved' and out_transaction.cancel == 1 %}
                                                    <button class="success client_actions" action="Cancel">Cancel</button>
                                                {% elif out_transaction.status == 'approved' and out_transaction.cancel == 0 %}
                                                    {{'You will be able to cancel the request  2 hours later after approving'}}
                                                {% else %}
                                                    {{out_transaction.status}}
                                                {% endif %}
                                            </td>
                                            <td><a href="#" class="btn btnBorder sizeS valignM">Add Review</a></td>
                                            <td>
                                                <div class="tableShares">
                                                    <button class="fbBtn"><i class="icon-facebook44"></i></button>
                                                    <button class="twBtn"><i class="icon-twitter37"></i></button>
                                                    <button class="gpBtn"><i class="icon-google110"></i></button>
                                                </div>
                                            </td>
                                            <td class="alignC"></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}