f{% extends "base.html" %}
{% block content %}
<div class="topLighLine"></div>
    <div class="container accountWrapper pb80">
        {% include "elements/profile.html" %}
        <div class="accountR">
            {% include "elements/account_menu.html" %}
            <div class="wow fadeInDown" data-wow-delay="1s">
                <div id="transaction">
                    <div class="subTitleWrap hasTabs">
                        <h2>Transactions</h2>
                        <ul class="tabs subTitleTabs">
                            <li><a href="{% url 'profile:out_transactions' %}">Incoming</a></li>
                            <li><a href="{% url 'profile:in_transactions' %}">Outgoing</a></li>
                        </ul>
                    </div>
                    <p class="transactIntro">Items borrowed/rented/bought from neighbors</p>
                    <div class="cancelWrap expandWrap">
                        <button class="closeExpandWrap"><i class="icon-cancel"></i></button>
                        <h3 class="cancelItemName">Cancelation for <strong>Lorem Ipsum</strong> item</h3>
                        <div class="colRow">
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">Blah blah</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">Another blah blah</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                        </div>
                        <div class="colRow">
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">Some lorem ipxum</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">another lorem ipsum</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="outgoing" class="tableScroll">
                        {% if out_transactions %}
                            <table class="tableStyle">
                                <thead>
                                    <tr>
                                        <th style="width: 3.5%;">#</th>
                                        <th style="width: 15%;">
                                            Item
                                            <ul>
                                                <li><a href="/profile/out_transactions/?name=ASC"><i class="icon-angle-up"></i></a></li>
                                                <li><a href="/profile/out_transactions/?name=DESC"><i class="icon-angle-down"></i></a></li>
                                            </ul>
                                        </th>
                                        <th style="width: 12%;">Owned by</th>
                                        <th style="width: 6%;">Type</th>
                                        <th style="width: 8%;">Amount</th>
                                        <th style="width: 11.5%;">Requested on</th>
                                        <th style="width: 11.5%;">Need it for</th>
                                        <th style="width: 10%;">Status</th>
                                        <th style="width: 9%;">Action</th>
                                        <th style="width: 13.5%;">Others</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for out_transaction in out_transactions %}
                                        <tr rent='{{out_transaction.id}}'>
                                            <td>{{ forloop.counter }}</td>
                                            <td>
                                                <img class="inOutTableImg" src='/media/images/items/{{ out_transaction.param.image.image_name }}'>
                                                <span>{{ out_transaction.param.name }}</span>
                                            </td>
                                            <td>
                                                <div style="max-width: 100px;">
                                                    {{ out_transaction.owner.first_name }} {{ out_transaction.owner.last_name }} <br/>
                                                </div>
                                                <div class="alignC">
                                                    <a href="/profile/conversation/{{out_transaction.owner_id }}/{{out_transaction.param_id}}" class="btn btnPrime btnSquare start_chat">
                                                        <i class="icon-message"></i>
                                                    </a>
                                                </div>
                                            </td>
                                            <td>Rent</td>
                                            <td>${{ out_transaction.price }}</td>
                                            <td>{{ out_transaction.created|date:"Y-m-d g:i A" }}</td>
                                            <td>{{ out_transaction.start_date|date:"Y-m-d" }}</td>
                                            <td>
                                                {% if out_transaction.status == 'pending' %}
                                                    Pending
                                                {% elif out_transaction.status == 'approved' %}
                                                    Request approved
                                                {% elif out_transaction.status == 'customer_canceled' or out_transaction.status == 'customer_declined' %}
                                                    You have cancelled this request
                                                {% elif out_transaction.status == 'seller_canceled' or out_transaction.status == 'seller_declined' or out_transaction.status == 'admin_canceled' %}
                                                    Cancelled
                                                {% elif out_transaction.status == 'paid' %}
                                                    Returned <br/>
                                                    <a href="#" class="success">Add Review</a>
                                                {% elif out_transaction.status == 'expired' %}
                                                    This request has been expired
                                                {% else %}
                                                    {{ out_transaction.status }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if out_transaction.status == 'pending' or out_transaction.status == 'approved' %}
                                                    <a href="/profile/conversation/{{out_transaction.owner_id }}/{{out_transaction.param_id}}" class="success">Contact owner</a>
                                                {% else %}
                                                    <a href="{% url 'payment:rent' out_transaction.param_id %}" class="success">Request Again</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if out_transaction.status == 'pending' %}
                                                    <div class="nowrap">Need to cancel?<br/>Click <button class="success client_actions" action="Decline">here</button></div>
                                                {% elif out_transaction.status == 'approved'%}
                                                    <div class="nowrap">Need to cancel?<br/>Click <button class="success client_actions" action="Cancel">here</button></div>
                                                {% else %}
                                                    <div class="nowrap">Need help?<br/><a href="{% url 'profile:support' %}" class="success">Contact</a> NEMO</div>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination">
                                <span class="step-links">
                                    {% if out_transactions.has_previous %}
                                        <a href="?page={{ out_transactions.previous_page_number }}"><i class="icon-arrow-left-thin"></i></a>
                                    {% endif %}
                                    <span class="current">
                                        Page {{ out_transactions.number }} of {{ out_transactions.paginator.num_pages }}
                                    </span>
                                    {% if out_transactions.has_next %}
                                        <a href="?page={{ out_transactions.next_page_number }}"><i class="icon-arrow-right-thin"></i></a>
                                    {% endif %}
                                </span>
                            </div>
                            <div id="cancel_request_popup_3" class="popupWrap mfp-hide">
                                <div class="popupHead">
                                    <h3></h3>
                                </div>
                                <div class="popupBody">
                                    <p>Request processing, please wait for 2 hrs to cancel.</p>
                                    <p><br/></p>
                                    <input type="submit" name="no" value="Close" class="cancel_request_no btn btnBorder" />
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}