f{% extends "base.html" %}
{% block content %}
<div class="topLighLine"></div>
    <div class="container accountWrapper pb80">
        {% include "elements/profile.html" %}
        <div class="accountR">
            {% include "elements/account_menu.html" %}
            <div class="wow fadeInDown" data-wow-delay="1s">
                <div id="transaction">
                    <div class="subTitleWrap hasTabs">
                        <h2>Transactions</h2>
                        <ul class="tabs subTitleTabs">
                            <li><a href="{% url 'profile:out_transactions' %}">Incoming</a></li>
                            <li ><a href="{% url 'profile:in_transactions' %}">Outgoing</a></li>
                        </ul>
                    </div>
                    <div class="cancelWrap expandWrap">
                        <button class="closeExpandWrap"><i class="icon-cancel"></i></button>
                        <h3 class="cancelItemName">Cancelation for <strong>Lorem Ipsum</strong> item</h3>
                        <div class="colRow">
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">Blah blah</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">Another blah blah</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                        </div>
                        <div class="colRow">
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">Some lorem ipxum</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                            <div class="col6">
                                <div class="formRow">
                                    <label class="formLabel">another lorem ipsum</label>
                                    <input type="text" class="formControl">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="outgoing" class="tableScroll">
                        {% if out_transactions %}
                            <table class="tableStyle">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Item</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Requested on</th>
                                        <th>Need it for</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                        <th>Others</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for out_transaction in out_transactions %}
                                        <tr rent='{{out_transaction.id}}' >
                                            <td>{{ forloop.counter }}</td>
                                            <td><img width="40px" src='/media/images/items/{{ out_transaction.param.image.image_name }}'> {{ out_transaction.param.name }}</td>
                                            <td>Rent</td>
                                            <td>${{ out_transaction.price }}</td>
                                            <td>{{ out_transaction.created|date:"Y-m-d h:i:s" }}</td>
                                            <td>{{ out_transaction.start_date|date:"Y-m-d" }} - {{ out_transaction.rent_date|date:"Y-m-d" }}</td>
                                            {% if out_transaction.status == 'pending' %}
                                            <td>waiting Approval</td>
                                            {% else %}
                                            <td>{{out_transaction.status}}</td>
                                            {% endif %}
                                            <td>Make payment</td>
                                            <td>
                                                {% if out_transaction.status == 'pending' %}
                                                    <button class="success client_actions" action="Decline">Decline</button>
                                                {% elif out_transaction.status == 'approved' and out_transaction.cancel == 1 %}
                                                    <button class="success client_actions" action="Cancel">Cancel</button>
                                                {% elif out_transaction.status == 'approved' and out_transaction.cancel == 0 %}
                                                    {{'You will be able to cancel the request  2 hours later after approving'}}
                                                 {% elif out_transaction.status == 'customer_canceled' %}
                                                    customer canceled
                                                {% elif out_transaction.status == 'customer_declined' %}
                                                    customer declined
                                                {% elif out_transaction.status == 'seller_canceled' %}
                                                    seller canceled
                                                {% elif out_transaction.status == 'seller_declined' %}
                                                    seller declined
                                                {% elif out_transaction.status == 'admin_canceled' %}
                                                    admin canceled
                                                {% else %}
                                                    {{ out_transaction.status }}
                                                {% endif %}
                                            </td>
                                            <td><a href="#" class="btn btnBorder sizeS valignM">Add Review</a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination">
                                <span class="step-links">
                                    {% if out_transactions.has_previous %}
                                        <a href="?page={{ out_transactions.previous_page_number }}"><i class="icon-arrow-left-thin"></i></a>
                                    {% endif %}
                                    <span class="current">
                                        Page {{ out_transactions.number }} of {{ out_transactions.paginator.num_pages }}
                                    </span>
                                    {% if out_transactions.has_next %}
                                        <a href="?page={{ out_transactions.next_page_number }}"><i class="icon-arrow-right-thin"></i></a>
                                    {% endif %}
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}