{% extends "base.html" %}
{% block content %}
    <p>{{requests.param.name|title}}</p>
    <p>{{requests.param.description}}</p>

    <form method="POST" action='' id="cancel_rent">
        {% csrf_token %}
        <input type='hidden' value='{{requests.id}}' name="rent">
        {% if requests.status == 'pending' %}
            <input type="submit" name="action" value="Approve" />
            <input type="submit" name="action" value="Decline" />
        {% elif requests.status == 'approved' %}
                <div>
                    {{ form.card_number.label_tag}}
                    {{ form.card_number }}
                    {{ form.card_number.errors }}
                </div>
                <div>
                    {{ form.cvv.label_tag}}
                    {{ form.cvv }}
                    {{ form.cvv.errors }}
                </div>
                <div>
                    {{ form.month.label_tag}}
                    {{ form.month }}
                    {{ form.month.errors }}
                </div>
                <div>
                    {{ form.year.label_tag}}
                    {{ form.year }}
                    {{ form.year.errors }}
                </div>
            <input type="submit" name="action" value="Cancel" id="cancel_request"/>
        {% endif %}
    </form>
    <div id="cancel_request_popup_2" class="popupWrap mfp-hide">
        <h1>Confirmation</h1>
        <p>Please note that you have already approved your neighbor’s request and your neighbor is awaiting the item, if you cancel now, you will be charged $2 as a compensation to your neighbor and to cover the transaction fee.</p>
        <p>Are you sure you want to cancel?</p>
        <input type="submit" name="yes" value="Yes" id="cancel_request_yes" />
        <input type="submit" name="no" value="No" id="cancel_request_no" />
    </div>
    <div id="cancel_request_popup_5" class="popupWrap mfp-hide">
        <h1>Confirmation</h1>
        <p>Please note that tomorrow is the rental start date and your neighbor is awaiting the item, if you cancel now, it will incur great inconvenience to him/her, thus you will be charged $5 as a compensation to your neighbor and to cover the transaction fee</p>
        <p>Are you sure you want to cancel?</p>
        <input type="submit" name="yes" value="Yes" id="cancel_request_yes" />
        <input type="submit" name="no" value="No" id="cancel_request_no" />
    </div>
    <script>
        var amount = "{{amount}}"
    </script>
{% endblock %}

