{% extends "base.html" %}
{% block content %}
	<section class="supportBlock">
		<div class="container">
			<div class="fixBlock">
				<h3 class="blockTitle">Got Questions?</h3>
				<p class="text">We are here to help! Simply send us a message below and we'll contact you within 24 hrs. {% if user.is_anonymous %} Don't forget to <a href="#login_popup"  id="support_redirect" class="popupBtn">login</a> first! {% endif %} </p>
				<form method="post" action="" id="support_form">
					{% csrf_token %}
					<div class="formRow alignL">
						{{ form.name.label_tag}}
						{{ form.name }}
						{{ form.name.errors }}
					</div>
					<div class="formRow alignL">
						{{ form.email.label_tag}}
						{{ form.email }}
						{{ form.email.errors }}
					</div>
					<div class="formRow alignL">
						{{ form.comments.label_tag}}
						{{ form.comments }}
						{{ form.comments.errors }}
					</div>
					<button type="submit" class="btn btnPrime" >Send</button>
				</form>
			</div>
		</div>
	</section>
</main>

{% endblock %}